* {
  box-sizing: border-box;
}

/* Style the counter cards */
.cardd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #adadad;
  border-radius: 10%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.cardd:hover {
  border-radius: 5%;
}

.cardd img {
  width: 350px;
  height: 350px;
  border-radius: 5%;
}
