* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-image: url(https://i.pinimg.com/564x/da/16/d7/da16d76bd1c62755a99c05b2369f0877.jpg);
  background-size: repeat;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  margin-top: 190px;
}

/* Clear floats after the columns */
.row:after {
  display: inline-block;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #adadad;
  border-radius: 10%;
}

.card:hover {
  border-radius: 5%;
}

.card img {
  width: 350px;
  height: 350px;
  border-radius: 5%;
}

button {
  height: 50px;
  width: 150px;
  background-color: rgba(52, 52, 208, 0.918);
  border-color: rgba(52, 52, 208, 0.918);
  border-radius: 20px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
